a{
    text-decoration: none;
}
a:visited { color:white; background-color: #ffce0b; }
body{
    background-color: whitesmoke;
}

.nav{
	margin-top: 3%;
    height: 120px;
    background-color: #ffce0b;
    border-radius: 10px;
    
}
.nav-body{
    margin: 0 auto;
    text-align: center; 
    line-height: 100px;
}
.nav-text{
    font-size: 50px;
    color: black;
    font-family: 'Single Day', cursive;
    
}

.card-complete{
    background-color: gainsboro;
    font-family: 'Single Day', cursive;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-size: 35px;
}
.card-vd-l{
    
    
    border:1px solid whitesmoke;
    width: 48%;
    float: left; 
    margin-left: 10px;
    border-radius: 30px;
}
.card-vd-r{
    
    
    border:1px solid whitesmoke;
    width: 48%;
    float: right; 
    margin-right: 10px;
    border-radius: 30px;
    

}
.vd-btn{
    
    display: inline-block; 
    width: 90%; 
    height: 80%; 
    font-size: 40px;
    border-radius: 20px;
    background-color: #ffce0b;
    font-family: 'Single Day', cursive;
    
}



