body{
    background-color: whitesmoke;
   }
   a{
       text-decoration: none;
       /* color: black; */
}
input[type=text]{
    text-align: center;
}
select{
    text-align: center;
}
input[type=radio]:checked{
    background-color: black;
    
}
.nav{
	margin-top: 3%;
    height: 120px;
    background-color: #ffce0b;
    border-radius: 10px;
    
}
.nav-body{
    margin: 0 auto;
    text-align: center; 
    line-height: 100px;
}
.nav-text{
    font-size: 48px;
    color: white;
    font-family: 'Single Day', cursive;
    
}
.card-money{
    width: 90%;
    overflow: hidden; 
    text-align: center; 
    border: 1px solid gainsboro; 
    /* border-radius: 30px;  */
    margin: 0 auto;
    background-color: gainsboro;
    
}
.card-title{
    border-bottom: 1px solid whitesmoke;
    font-family: 'Single Day', cursive;
    font-size: 20px;
}
.card-text{
    border-top: 1px solid whitesmoke;
    font-family: 'Single Day', cursive;
    font-size: 20px;
}
.table{
	font-family: 'Nanum Gothic Coding', monospace;
}
.btn-group{
    border-bottom: 1px solid white;
    font-family: 'Nanum Gothic Coding', monospace;
}
.btn-check{
    border: 1px solid gainsboro;
}
.td-l{
	text-align: center;
}
input{
	text-align: center;
}

.my-status-button{
    background-color: #ffce0b; color: black;
    width: 60%; 
    height: 100%;
    font-size: 25px;
    border-radius: 30px;
    color: white;
    font-family: 'Single Day', cursive;
    
    
}


